*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.devcontainer
.vscode
.env
.env.prod
.env.dev

!manager-console/src/react-app-env.d.ts

*.sh
*.ps1

tools/lineRichMenu/src/rich-back.jpg
